<%= form_for(room, :html => {:remote => true}) do |f| %>
<% if room.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(room.errors.count, "error") %>
    prohibited this room from being saved:</h2>

  <ul>
    <% room.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field input-group">
  <%= f.text_field :name , :class => "form-control" %>
  <span class="input-group-btn">
    <%= f.submit "Create Channel", :class=> "btn" %>
  </span>
</div>
<!-- /input-group -->
<% end %>
